.lightBulbContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #222;
  &.on {
    background: radial-gradient(#555, #111);
  }
}

#audio {
  display: none;
}
